torch==2.1.2
torchvision==0.16.2
torchmetrics==1.2.1
wandb==0.16.1
watermark==2.4.3
pytorch-lightning==2.1.3
pillow==10.2.0
pandas==2.1.4
omegaconf==2.3.0
numpy==1.26.2
notebook==7.0.6
lightning-utilities==0.10.0
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
jupyter-events==0.9.0
jupyter-lsp==2.2.1
jupyter_client==8.6.0
jupyter_core==5.6.1
jupyter_server==2.12.1
jupyter_server_terminals==0.5.1
jupyterlab==4.0.10
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
timm==0.9.12
colorcet==3.0.1
seaborn==0.13.1

